@page
@model DeliveryApp.Pages.myPages.DriverLoginModel
@{
    ViewData["Title"] = "DriverLogin";
}

<h1>Driver Login</h1>
<form method="post">
    Login ID:
    <br />
    <input name="EMail" type="email" class="form-control input-lg" required autofocus />
    <br />
    Password:
    <br />
    <input name="Password" type="password" class="form-control input-lg" required />
    <br />
    <input id="LoginButton" type="submit" value="Login" class="btn btn-success">
</form>
