@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">

    <h1 class="display-4" style="color:green">Welcome to Move Now</h1>
    
    <p>We are a logistic Company since 2018.</p>
</div>


